/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2, h3, h4 {
    color: #007BFF;
}

/* Estilos para los párrafos */
p {
    line-height: 1.5;
}

/* Estilos para la imagen */
img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
}

/* Estilos para las secciones desplegables */
.hidden-section {
    display: none;
    margin-top: 10px;
    margin
}


/* Estilos para el pie de página */
footer {
    background-color: #eee;
    padding: 20px;
    text-align: center;
}

/* Estilos para las imágenes del pie de página */
footer img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
