body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.ButTitleContainer {
  text-align: center;
}

.ButHeader {
  background-color: #333;
  padding: 10px;
  text-align: center;
  display: inline-block; /* Para que los elementos se muestren en línea */
}

h2 {
  color: #333;
  margin-top: 10px; /* Espacio entre los botones y el título */
}


.ButHeader button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ButHeader button:hover {
  background-color: #45a049;
}

.Mainest_main {
  margin: 20px;
}

.hidden-section {
  display: none;
}

h1, h2, h3, h4, p {
  color: #333;
}

footer {
  background-color: #430;
  color: white;
  padding: 10px;
  text-align: center;
}

footer img {
  margin: 50px;
  width: 50px; /* Ajusta el ancho según tus necesidades */
  height: auto; /* Mantiene la proporción de la imagen */
}

